/* File:           _mixins.scss
// Description:    Site-wide mixins
//
//
//         ◡◠ ✥ ◠◡
//
//     Table of Contents:
//

//     1.
//     2. Media queries
//     3. Font scale

// ---------------------------------------
//     1. Fonts
// --------------------------------------- */

@define-mixin emprint-bold {
  font-family: 'EMprint-Bold', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@define-mixin emprint-bold-it {
  font-family: 'EMprint-BoldItalic', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 700;
}

@define-mixin emprint-condensed-bold {
  font-family: 'EMprint-CondensedBold', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@define-mixin emprint-condensed-bold-it {
  font-family: 'EMprint-CondensedBoldIt', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 700;
}

@define-mixin emprint-condensed-it {
  font-family: 'EMprint-CondensedItalic', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
}

@define-mixin emprint-condensed-lgt {
  font-family: 'EMprint-CondensedLight', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

@define-mixin emprint-condensed-lgt-it {
  font-family: 'EMprint-CondensedLightIt', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
}

@define-mixin emprint-condensed-reg {
  font-family: 'EMprint-CondensedRegular', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

@define-mixin emprint-condensed-semi-bold {
  font-family: 'EMprint-CondensedSemibold', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: demi;
}

@define-mixin emprint-condensed-semi-bold-it {
  font-family: 'EMprint-CondSemiboldIt', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: demi;
}

@define-mixin emprint-lgt {
  font-family: 'EMprint-Light', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

@define-mixin emprint-lgt-it {
  font-family: 'EMprint-LightItalic', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
}

@define-mixin emprint-reg {
  font-family: 'EMprint-Regular', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

@define-mixin emprint-reg-it {
  font-family: 'EMprint-RegularItalic', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
}

@define-mixin emprint-semi-bold {
  font-family: 'EMprint-Semibold', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: demi;
}

@define-mixin emprint-semi-bold-it {
  font-family: 'EMprint-SemiboldItalic', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: demi;
}

/* ---------------------------------------
//     2. Media queries
// --------------------------------------- */
@custom-media --phone (width >= 0) and (width < 768px);
@custom-media --phone-large (width >= 480px) and (width < 768px);
@custom-media --tablet (width >= 768px) and (width < 1024px);
@custom-media --tablet-min (min-width: 768px);
@custom-media --desktop (min-width: 1024px);
@custom-media --desktop-large (min-width: 1440px);

/* ---------------------------------------
//     3. Font scale
// --------------------------------------- */

@define-mixin font-scale $fz-small, $fz-large, $lh-small, $lh-large {
  font-size: responsive $fz-small $fz-large; /* min-size, max-size */
  font-range: 480px 1024px; /* viewport widths between which font-size is fluid */
  line-height: responsive $lh-small $lh-large;
  line-height-range: 480px 1024px;
}

@define-mixin letter-spacing $ls-small, $ls-large {
  letter-spacing: responsive $ls-small $ls-large;
  letter-spacing-range: 480px 1024px;
}

/* ---------------------------------------
//     4. Grid / Column
// ---------------------------------------

// ---------------------------------------
//     4.1 flexbox columns columns
// --------------------------------------- */

@define-mixin flexgrid $direction: row, $flow: wrap, $align: initial,
  $justfity: initial, $container-width: 1920px {
  align-items: $align;
  display: flex;
  flex: 0 1 auto;
  flex-direction: $direction;
  flex-flow: $flow;
  justify-content: $justfity;
  max-width: $container-width;
}

@define-mixin flexcolumn $columns, $total-columns: 14 {
  flex: $columns $columns auto;
  flex-basis: $columns;
  flex-grow: 1;
  max-width: calc(100% / ($total-columns / $columns));
  padding: 0 var(--gutter-small);

  @media (--tablet) {
    padding: 0 var(--gutter-medium);
  }

  @media (--desktop) {
    padding: 0 var(--gutter-large);
  }
}
