:root {
  /**
  * Basic container width of 90% the view width.
  */
  --container-width: 90vw;

  /**
   * Container maxs out at 1080px.
   */
  --max-content-width: 1920px;

  /**
   * Basic gutter sizing.  Elements are spaced horizontally by 30px.
   */
  --gutter-small: 10px;
  --gutter-medium: 15px;
  --gutter-large: 22px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs: 480px; /* Extra small screen / phone */
  --screen-sm: 768px; /* Small screen / tablet */
  --screen-lg: 1024px; /* Large screen /  desktop */
  --screen-xl: 1440px; /* Extra Large screen / wide desktop */

  /*
   * Colors
   * ======================================================================== */
  --ex-red: #fe000c;
  --ex-blue: #0c479d;
  --ex-el-red: #d5000a;
  --ex-el-blue: #2369bd;
  --ex-el-light-blue: #3c89e5;

  /* black */
  --ex-black: #333333;
  --ex-black-100: #5a5a5a;
  --ex-black-200: #6d6e71;
  --ex-black-300: #939598;
  --ex-black-400: #b1b3b6;
  --ex-black-500: #d1d3d4;
  --ex-black-600: #e6e7e8;
  --ex-black-700: #f1f2f2;

  --ex-white: #ffffff;

  /* accent */
  --ex-accent-red: #990e29;
  --ex-accent-orange: #f95421;
  --ex-accent-orange-100: #fc7e00;
  --ex-accent-orange-200: #ffac3e;
  --ex-accent-yellow: #ffd700;
  --ex-accent-lemon: #b4d405;
  --ex-accent-green: #00a14d;
  --ex-accent-aqua: #00aca8;
  --ex-accent-ocean: #007096;
  --ex-accent-sky: #00a3e0;
  --ex-accent-blue: #002f6c;
  --ex-accent-blue-100: #3a397b;
  --ex-accent-affair: #7a4183;
  --ex-accent-red-violet: #bd2f7f;
  --ex-accent-violet: #890c58;
  --ex-accent-cabaret: #d73872;

  /*
   * Layers
   * ======================================================================== */
  --z-base: 0;
  --z-mid: 10;
  --z-high: 100;
  --z-sticky-nav: 500;
  --z-super: 1000;
  --z-nav: 2000;
  --z-modal: 3000;
}
