{% set title = 'Home' %} {% extends '../layout.html' %} {% block content %}
<h1>Color Palette</h1>
<section>
  <h2>ExxonMobil brand colors</h2>
  <section class="colors">
    <div class="color-palette">
      <span class="colorbox colorbox--red"></span>
      <p class="text-small colorname">Color: #fe000c</p>
      <p class="text-small colorname">Variable Name: --ex-red</p>
    </div>
    <div class="color-palette">
      <span class="colorbox colorbox--blue"></span>
      <p class="text-small colorname">Color: #0c479d</p>
      <p class="text-small colorname">Variable Name: --ex-blue</p>
    </div>
  </section>
</section>
{% endblock %}
