{% set title = 'Home' %}
{% import '../macros/sg-helper-macro.html' as sgHelper %}

{% extends '../layout.html' %}
{% block content %}
  <section class="container">
      <h1>Color Palette</h1>
  </section>

  <section>
    <h2>ExxonMobil brand colors</h2>
    <section class="colors">
      {{ sgHelper.colorBox('--ex-red', '#fe000c') }}

      {{ sgHelper.colorBox('--ex-blue', '#0c479d') }}
    </section>
  </section>
  <section>
    <h2>Elements</h2>
    <section class="colors">
      {{ sgHelper.colorBox('--ex-el-red', '#d5000a') }}
      {{ sgHelper.colorBox('--ex-el-blue', '#2369bd') }}
      {{ sgHelper.colorBox('--ex-el-light-blue', '#3c89e5') }}

    </section>
    <section class="colors">
    {{ sgHelper.colorBox('--ex-black', '#333333') }}
    {{ sgHelper.colorBox('--ex-black-100', '#5a5a5a') }}
    {{ sgHelper.colorBox('--ex-black-200', '#6d6e71') }}
    {{ sgHelper.colorBox('--ex-black-300', '#939598') }}
    {{ sgHelper.colorBox('--ex-black-400', '#b1b3b6') }}
    {{ sgHelper.colorBox('--ex-black-500', '#d1d3d4') }}
    {{ sgHelper.colorBox('--ex-black-600', '#e6e7e8') }}
    {{ sgHelper.colorBox('--ex-black-700', '#f1f2f2') }}

    </section>
  </section>
  <section>
    <h2>Accent</h2>

    <section class="colors">
      {{ sgHelper.colorBox('--ex-accent-red', '#990e29') }}
      {{ sgHelper.colorBox('--ex-accent-orange', '#f95421') }}
      {{ sgHelper.colorBox('--ex-accent-orange-100', '#fc7e00') }}
      {{ sgHelper.colorBox('--ex-accent-orange-200', '#ffac3e') }}
      {{ sgHelper.colorBox('--ex-accent-yellow', '#ffd700') }}
      {{ sgHelper.colorBox('--ex-accent-lemon', '#b4d405') }}
      {{ sgHelper.colorBox('--ex-accent-green', '#00a14d') }}
      {{ sgHelper.colorBox('--ex-accent-aqua', '#00aca8') }}
      {{ sgHelper.colorBox('--ex-accent-ocean', '#007096') }}
      {{ sgHelper.colorBox('--ex-accent-sky', '#00a3e0') }}
      {{ sgHelper.colorBox('--ex-accent-blue', '#002f6c') }}
      {{ sgHelper.colorBox('--ex-accent-blue-100', '#3a397b') }}
      {{ sgHelper.colorBox('--ex-accent-affair', '#7a4183') }}
      {{ sgHelper.colorBox('--ex-accent-red-violet', '#bd2f7f') }}
      {{ sgHelper.colorBox('--ex-accent-red-violet', '#bd2f7f') }}
      {{ sgHelper.colorBox('--ex-accent-violet', '#890c58') }}
      {{ sgHelper.colorBox('--ex-accent-cabaret', '#d73872') }}
    </section>
  </section>

{% set className = "grid-hide" %}
{% include "../components/grid/grid-helper.html" %}
{% endblock %}
