<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
</head>

<body>
  <nav class="nav main-nav">
    <div class="nav-container">
      <ul>
        <li>nav 1</li>
        <li>NAV 2</li>
        <li>NAV 3</li>
        <li>NAV 4</li>
        <li>NAV 5</li>
      </ul>
    </div>
  </nav>
  <main class="main-content">
    {% block content %} {% endblock %}
    {% set className = "grid-hide" %}
    {% include "components/grid/grid-helper.html" %}
  </main>
  <script src="vendors-main.bundle.js"></script>
  <script src="main.bundle.js"></script>
</body>
</html>
