@font-face {
    font-family: "EMprint-CondensedRegular";
    src: url("EMprint-CondensedRegular.eot");
    src: url("EMprint-CondensedRegular.eot?#iefix") format("embedded-opentype"),
         url("EMprint-CondensedRegular.woff2") format("woff2"),
         url("EMprint-CondensedRegular.woff") format("woff"),
         url("EMprint-CondensedRegular.ttf") format("ttf"),
         url("EMprint-CondensedRegular.svg#EMprint-CondensedRegular") format("svg");
    font-style: normal;
    font-weight: 300;
}