@font-face {
    font-family: "EMprint-CondensedBoldIt";
    src: url("EMprint-CondensedBoldIt.eot");
    src: url("EMprint-CondensedBoldIt.eot?#iefix") format("embedded-opentype"),
         url("EMprint-CondensedBoldIt.woff2") format("woff2"),
         url("EMprint-CondensedBoldIt.woff") format("woff"),
         url("EMprint-CondensedBoldIt.ttf") format("ttf"),
         url("EMprint-CondensedBoldIt.svg#EMprint-CondensedBoldIt") format("svg");
    font-style: italic;
    font-weight: 700;
}