@font-face {
    font-family: "EMprint-RegularItalic";
    src: url("EMprint-RegularItalic.eot");
    src: url("EMprint-RegularItalic.eot?#iefix") format("embedded-opentype"),
         url("EMprint-RegularItalic.woff2") format("woff2"),
         url("EMprint-RegularItalic.woff") format("woff"),
         url("EMprint-RegularItalic.ttf") format("ttf"),
         url("EMprint-RegularItalic.svg#EMprint-RegularItalic") format("svg");
    font-style: italic;
    font-weight: 300;
}