@font-face {
    font-family: "EMprint-Semibold";
    src: url("EMprint-Semibold.eot");
    src: url("EMprint-Semibold.eot?#iefix") format("embedded-opentype"),
         url("EMprint-Semibold.woff2") format("woff2"),
         url("EMprint-Semibold.woff") format("woff"),
         url("EMprint-Semibold.ttf") format("ttf"),
         url("EMprint-Semibold.svg#EMprint-Semibold") format("svg");
    font-style: normal;
    font-weight: demi;
}