@font-face {
    font-family: "EMprint-CondensedItalic";
    src: url("EMprint-CondensedItalic.eot");
    src: url("EMprint-CondensedItalic.eot?#iefix") format("embedded-opentype"),
         url("EMprint-CondensedItalic.woff2") format("woff2"),
         url("EMprint-CondensedItalic.woff") format("woff"),
         url("EMprint-CondensedItalic.ttf") format("ttf"),
         url("EMprint-CondensedItalic.svg#EMprint-CondensedItalic") format("svg");
    font-style: italic;
    font-weight: 300;
}