@font-face {
    font-family: "EMprint-CondensedSemibold";
    src: url("EMprint-CondensedSemibold.eot");
    src: url("EMprint-CondensedSemibold.eot?#iefix") format("embedded-opentype"),
         url("EMprint-CondensedSemibold.woff2") format("woff2"),
         url("EMprint-CondensedSemibold.woff") format("woff"),
         url("EMprint-CondensedSemibold.ttf") format("ttf"),
         url("EMprint-CondensedSemibold.svg#EMprint-CondensedSemibold") format("svg");
    font-style: normal;
    font-weight: demi;
}