@font-face {
    font-family: "EMprint-Regular";
    src: url("EMprint-Regular.eot");
    src: url("EMprint-Regular.eot?#iefix") format("embedded-opentype"),
         url("EMprint-Regular.woff2") format("woff2"),
         url("EMprint-Regular.woff") format("woff"),
         url("EMprint-Regular.ttf") format("ttf"),
         url("EMprint-Regular.svg#EMprint-Regular") format("svg");
    font-style: normal;
    font-weight: 300;
}