@font-face {
    font-family: "EMprint-Light";
    src: url("EMprint-Light.eot");
    src: url("EMprint-Light.eot?#iefix") format("embedded-opentype"),
         url("EMprint-Light.woff2") format("woff2"),
         url("EMprint-Light.woff") format("woff"),
         url("EMprint-Light.ttf") format("ttf"),
         url("EMprint-Light.svg#EMprint-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}