@font-face {
    font-family: "EMprint-CondensedBold";
    src: url("EMprint-CondensedBold.eot");
    src: url("EMprint-CondensedBold.eot?#iefix") format("embedded-opentype"),
         url("EMprint-CondensedBold.woff2") format("woff2"),
         url("EMprint-CondensedBold.woff") format("woff"),
         url("EMprint-CondensedBold.ttf") format("ttf"),
         url("EMprint-CondensedBold.svg#EMprint-CondensedBold") format("svg");
    font-style: normal;
    font-weight: 700;
}