@font-face {
    font-family: "EMprint-CondensedLight";
    src: url("EMprint-CondensedLight.eot");
    src: url("EMprint-CondensedLight.eot?#iefix") format("embedded-opentype"),
         url("EMprint-CondensedLight.woff2") format("woff2"),
         url("EMprint-CondensedLight.woff") format("woff"),
         url("EMprint-CondensedLight.ttf") format("ttf"),
         url("EMprint-CondensedLight.svg#EMprint-CondensedLight") format("svg");
    font-style: normal;
    font-weight: 300;
}