@font-face {
    font-family: "EMprint-CondSemiboldIt";
    src: url("EMprint-CondSemiboldIt.eot");
    src: url("EMprint-CondSemiboldIt.eot?#iefix") format("embedded-opentype"),
         url("EMprint-CondSemiboldIt.woff2") format("woff2"),
         url("EMprint-CondSemiboldIt.woff") format("woff"),
         url("EMprint-CondSemiboldIt.ttf") format("ttf"),
         url("EMprint-CondSemiboldIt.svg#EMprint-CondSemiboldIt") format("svg");
    font-style: italic;
    font-weight: demi;
}