
{% macro colorBox(colorName, colorCode) %}
  <div class="color-palette">
    <span class="colorbox colorbox{{ colorName }}"></span>
    <p class="text-small colorname">C: {{ colorCode }}</p>
    <p class="text-small colorname">V: {{ colorName }}</p>
  </div>
{% endmacro %}

{% macro typographyBox(tagName, textTitle, textHelper, helperTagName, variation) %}
  <div class="col-left">
    <span class="sg-text-helper">
      {% if helperTagName %}
        {{ helperTagName | upper }}
      {% else %}
        {{ tagName | upper }}
      {% endif %}
    </span>
  </div>
  <div class="col-right">
    <{{ tagName }}
      {% if variation %}
        class="{{ variation }}"
      {% endif %}
    >{{ textTitle }}</{{ tagName }}>
    <span class="sg-text-helper">{{ textHelper }}</span>
  </div>
{% endmacro %}
