@import 'utils/_reset.css';

:root {
  --papaya: papayawhip;
  --peru: peru;
}

html {
  background: var(--papaya);

  @media (width >= 500px) and (width <= 1200px) {
    background: var(--peru);
  }
}
