<section class="grid" data-script="sg-grid">
  <section class="container grid--section large-grid">
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--14">
      <div class="grid--inner"></div>
    </div>
  </section>

  <section class="container grid--section small-grid">
    <div class="grid--cell grid--6">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--6">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--6">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--6">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--6">
      <div class="grid--inner"></div>
    </div>
    <div class="grid--cell grid--6">
      <div class="grid--inner"></div>
    </div>
  </section>
</section>
