<section class="grid__container hide" data-script="gridHelper">
  <section class="container container--base">
    <article class="grid__section large-grid">
      <div class="grid">
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-12">
          <div class="grid__inner"></div>
        </div>
      </div>
    </article>
    <article class="grid__section small-grid">
      <div class="grid">
        <div class="grid__cell grid__cell-6">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-6">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-6">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-6">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-6">
          <div class="grid__inner"></div>
        </div>
        <div class="grid__cell grid__cell-6">
          <div class="grid__inner"></div>
        </div>
      </div>
    </article>
  </section>
</section>
