/* File:           _sg-grid.scss
// Description:    styleguide Grid helper layout
//
//         ◡◠ ✥ ◠◡
//
//     Table of Contents:
//
//     1. General
//     2. Overlay styles
//     3. Responsive

// ---------------------------------------
//     1. General
// --------------------------------------- */

.grid {
  &--section {
    height: 400px;

    &.large-grid {
      display: none;
    }
  }

  &--cell {
    background-color: var(--ex-white);
  }

  &--inner {
    background-color: var(--ex-red);
    opacity: 0.2;
    height: 100%;
  }

  &--14 {
    @mixin flexcolumn 1;
    height: 100%;
  }

  &--6 {
    @mixin flexcolumn 1, 6;
    height: 100%;
  }

  /* ---------------------------------------
      2. Overlay styles
  // --------------------------------------- */
  &-hide {
    display: none;
  }

  &-overlay {
    background: rgba(1, 33, 105, 0.2);
    display: block;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    .grid {
      &--section {
        height: 100%;
        margin-top: 0;
        position: sticky;
      }

      &--cell {
        background: transparent;
      }
    }
  }

  /* ---------------------------------------
  //     3. Responsive
  // --------------------------------------- */

  @media (--tablet-min) {
    &--section {
      &.large-grid {
        display: flex;
      }
      &.small-grid {
        display: none;
      }
    }
  }
}
