/* File:           _sg-typography.scss
// Description:    Typography
//
//
//         ◡◠ ✥ ◠◡
//
//     Table of Contents:
//
//     1.

// ---------------------------------------
//     1.
// --------------------------------------- */

.sg-typography {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 0;
}

.col-left {
  padding: 30px 20px 0;
  flex-grow: 1;
  flex: 1 1 10%;
  .sg-text-helper {
    padding-top: 0;
  }
}

.col-right {
  padding: 30px 20px;
  flex: 1 1 90%;
}

.sg-text-helper {
  color: var(--ex-black-400);
  display: block;
  padding-top: 10px;

  @mixin emprint-semi-bold;
}
