/* File:           _sg-colors.scss
// Description:    Style guide colors
//
//
//         ◡◠ ✥ ◠◡
//
//     Table of Contents:
//
//     1. Color boxes

// ---------------------------------------
//     1. Color boxes
// --------------------------------------- */

@define-mixin bg-colorbox $color {
  &$(color) {
    background-color: var($color);
  }
}

.color-palette {
  padding: 10px;
  width: 150px;
  display: inline-block;
  vertical-align: top;
}

.colorbox {
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 10px;

  /*
   * Colors
   * ======================================================================== */
  @mixin bg-colorbox --ex-red;
  @mixin bg-colorbox --ex-blue;
  @mixin bg-colorbox --ex-el-red;
  @mixin bg-colorbox --ex-el-blue;
  @mixin bg-colorbox --ex-el-light-blue;

  /* black */
  @mixin bg-colorbox --ex-black;
  @mixin bg-colorbox --ex-black-100;
  @mixin bg-colorbox --ex-black-200;
  @mixin bg-colorbox --ex-black-300;
  @mixin bg-colorbox --ex-black-400;
  @mixin bg-colorbox --ex-black-500;
  @mixin bg-colorbox --ex-black-600;
  @mixin bg-colorbox --ex-black-700;
  @mixin bg-colorbox --ex-white;

  /* accent */
  @mixin bg-colorbox --ex-accent-red;
  @mixin bg-colorbox --ex-accent-orange;
  @mixin bg-colorbox --ex-accent-orange-100;
  @mixin bg-colorbox --ex-accent-orange-200;
  @mixin bg-colorbox --ex-accent-yellow;
  @mixin bg-colorbox --ex-accent-lemon;
  @mixin bg-colorbox --ex-accent-green;
  @mixin bg-colorbox --ex-accent-aqua;
  @mixin bg-colorbox --ex-accent-ocean;
  @mixin bg-colorbox --ex-accent-sky;
  @mixin bg-colorbox --ex-accent-blue;
  @mixin bg-colorbox --ex-accent-blue-100;
  @mixin bg-colorbox --ex-accent-affair;
  @mixin bg-colorbox --ex-accent-red-violet;
  @mixin bg-colorbox --ex-accent-violet;
  @mixin bg-colorbox --ex-accent-cabaret;

}

p.colorname {
  display: block;
  color: var(--ex-black);
  padding-bottom: 0;
}
